@model LoginLogout.Models.TBL_USER_MASTER

@{
    ViewData["Title"] = "Login";
}


<h4>User Registration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @{
            if (ViewBag.Message != null)
            {
                <p style="color:red;">@ViewBag.Message</p>
            }
        }
        <form asp-action="Login">            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EMAIL" class="control-label"></label>
                <input asp-for="EMAIL" class="form-control" />
                <span asp-validation-for="EMAIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USER_PASSWORD" class="control-label"></label>
                <input asp-for="USER_PASSWORD" class="form-control" />
                <span asp-validation-for="USER_PASSWORD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
